footer{
  height: 80px;
  margin-top:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 49, 36, 0.534);
  display: flex;
  flex-direction: column;
}

.text{
font-size: 0.9em;
}

.text span{
  font-size: 0.7em;
}

.listul{
  display: flex;
  list-style: none;
  gap: 15px;
  cursor: pointer;
}

.listul li svg{
font-size: 1.5em;
}

.listul li:hover{
  color: rgb(126, 111, 28);
}
